# /etc/systemd/system/tdd-jenkins.service

[Unit]
Description=tdd-jenkins
After=docker.service
Requires=docker.service

[Service]
RestartSec=60s
Restart=always

Environment=SYSTEMD_LOG_LEVEL=debug

RuntimeDirectory=tdd-store/%n
#RuntimeDirectoryMode=0775

ExecStartPre=-/bin/sh -c '/usr/bin/docker rm -f %n 2>/dev/null'

ExecStart=/usr/bin/docker run --rm \
	--init \
	--name %n \
	--network host \
	--env "TDD_STORE=/run/tdd-store/%n" \
	--mount type=bind,source=/run/tdd-store/%n,dst=/run/tdd-store/%n \
	--mount type=volume,source=jenkins-home,dst=/var/jenkins_home \
	--mount type=bind,source=/run/docker.sock,dst=/run/docker.sock \
	tdd-jenkins:2-amd64

# FIXME: Need to make this return success on shutdown.
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
